* text=auto

*.js text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.csv text eol=lf
*.ndjson text eol=lf
*.gitignore text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.xlsx binary
*.xls binary
*.wav binary
*.mp4 binary

